body {
    color: forestgreen;
    font-family: "Courier New";
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
   font-family: Arial, normal;
  color: cornflowerblue;
  text-shadow: 3px 3px rgba(0,0,0,0.1), 7px 7px rgba(0,0,0,0.05);
}
